<!DOCTYPE html>
<html>
  <head>
    <title>OSC data visualisation</title>
    <script src="https://cdn.jsdelivr.net/npm/vega@5"></script>
    <script src="https://cdn.jsdelivr.net/npm/vega-lite@5"></script>
    <script src="https://cdn.jsdelivr.net/npm/vega-embed@6"></script>    
    <script type="text/javascript" src="./interaction.js" defer></script>
    <script src="https://d3js.org/d3.v7.min.js"></script>
    <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
  </head>
  <body>
    <h1>OSC data visualisation</h1>
    <div class="select-box" id="tickerSelect">
      <div>Select ticker</div>
      <div class="options-container" id="options-container">
        <div class="option" tabindex="0">
          <input type="radio" class="radio" id="AMZN" name="category">
          <label for="AMZN">AMZN</label>
        </div>

        <div class="option" tabindex="0">
          <input type="radio" class="radio" id="AAPL" name="category">
          <label for="AAPL">AAPL</label>
        </div>

        <div class="option" tabindex="0">
          <input type="radio" class="radio" id="NFLX" name="category">
          <label for="NFLX">NFLX</label>
        </div>

        <div class="option" tabindex="0">
          <input type="radio" class="radio" id="TSLA" name="category">
          <label for="TSLA">TSLA</label>
        </div>

      </div>
    </div>
    <br>
    <div id="display">
      <div id="barChart"></div>
      <div id="addOns">
        <ul class="list-items">
          <li class="item" id="7days" tabindex="0">
            <span class="checkbox">
              <i class="fa-solid fa-check check-icon"></i>
            </span>
            <span class="item-text">Moving average 7 days</span>
          </li>

          <li class="item" id="30days" tabindex="0">
            <span class="checkbox">
              <i class="fa-solid fa-check check-icon"></i>
            </span>
            <span class="item-text">Moving average 30 days</span>
          </li>

        </ul>
      </div>
      <div id="pieChartInfo">
      </div>
    </div>
    
  </body> 
  <script>

  </script>
</html>