<!DOCTYPE html>
<html>
  <head>
    <title>OSC data visualisation</title>
    <script src="https://cdn.jsdelivr.net/npm/vega@5"></script>
    <script src="https://cdn.jsdelivr.net/npm/vega-embed@6"></script>    
    <script type="text/javascript" src="./vega-lite.js" defer></script>
  </head>
  <body>
    <h1>OSC data visualisation</h1>
    <div id="barChart"></div>
    <div id="scatterPlot"></div>
  </body> 
  <script>

  </script>
</html>