.title-container img {
    margin-top: 10px;
    width: 100px; 
    height: auto;
}

.title-container {
    margin-left: 20px;
}

.select-box {
    display: none;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}


.select-box .option {
    cursor: pointer;
    padding: 12px 24px;
}

.select-box label {
    cursor: pointer;
}

.select-box .radio{
    display: none;
}

.option:focus {
    background-color: #f5f5f5;
    outline: none
}

#display {
    margin-left: 20px;
    display: flex;
    align-items: flex-start;
}

.list-items {
    position: relative;
    padding: 16px;
    margin-top: 15px;
    height: 50px;
    cursor: pointer;
}

.list-items .item {
    display: flex;
    align-items: center;
    list-style: none;
}

.item .checkbox {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 16px;
    width: 16px;
    border: 1.5px solid #c0c0c0;
    border-radius: 4px;
    margin-right: 12px;
}

.checkbox .check-icon {
    font-size: 13px;
    transform: scale(0);
}

.item.checked .check-icon {
    transform: scale(1);
}

.item {
    padding: 12px;
}

.item:focus {
    border: 1.5px solid #c0c0c0;
    border-radius: 4px;
}


#addOns {
    visibility: hidden;
}

#addOns.show {
    visibility: visible;
}

.tooltip-header {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
    color: #333;
}

.tooltip-content {
    font-size: 14px;
    color: #666;
}

.tooltip-content div {
    margin: 2px 0;
}

.tooltip-content strong {
    color: #000;
}